core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/

term = mongo.db.terms.find_one({"_id": ObjectId(term_id)})
    if not term or term['created_by'] != session['user']:
        return render_template("404.html")
