body {
    background-color: #fbe9e7;
    color:teal
}
/*makes links buttons more like the buttons from Materialize*/
a.edit, a.delete, a.account {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav li a {
    color: white;
}

.flashes h4, h3 {
    line-height: 3;
}

.btn-large {
    max-width: 66%;
}

.btn-small {
    margin: 5px;
}

.term-card {
    color: #bf360c;
}

/*------------------------------------------------Media Queries-----------------*/
/*-----
// Medium devices (Ipad, 768px)
-----*/
@media screen and (width: 768px) {
    a.reset {
        margin-bottom: 10px;
    }

    div.collapsible-body {
        padding-bottom: 0px;
    }

    div.card-content.white-text {
        padding-bottom: 10px;
    }
@media screen and (width: 375px) {
    div.collapsible-body.white-text {
        padding-bottom: 0px;
    }

    div.card-action {
        padding-top: 0px;
    }

    a.reset {
        margin-bottom: 10px;
    }

    .flashes h4, h3 {
        line-height: 1.5;
    }
}}
