body {
    color:teal
}

a.edit, a.delete, a.account {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav li a {
    color: white;
}

.flashes h4, h3 {
    line-height: 3;
}

.btn-large {
    max-width: 66%;
}

.btn-small {
    margin: 5px;
}