/*---------------------------------------------Body-----------------------*/
body {
    background-color: #e0f2f1;
    color:teal
}
/*-----------------------------------------------Navbar-----------------------*/
.sidenav li a {
    color: white;
}
/*---------------------------------------Flash messages-----------------------*/
.flashes h4, h3 {
    line-height: 2;
}

h3.center-align.white.red-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
/*-------------------------------------------Cards-----------------------------*/
.term-card {
    color: #bf360c;
}
/*-----------------------------------------------Buttons-----------------------*/
/*makes edit and delete links more like the buttons from Materialize*/
a.edit, a.delete, a.account {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-large {
    max-width: 66%;
}

.btn-small {
    margin: 5px;
}
/* responsive positioning of the login and register button*/
#login, #register {
    padding-left: 30%;
}
/*------------------------------------------------Media Queries-----------------*/
/*-----
// Medium devices (Ipad, 768px)
-----*/
@media screen and (width: 768px) {
    div.collapsible-body {
        padding-bottom: 0px;
    }

    div.card-content.white-text {
        padding-bottom: 10px;
    }

    div.card-action {
        padding-top: 0px;
    }
     
    button.btn.teal.darken-1 {
        margin-top: 10px;
    }

    #edit_term {
        margin-top: 0px;
    }
}
/*-----
// Small devices (Mobile, 414px)
-----*/
@media screen and (width: 414px) {
    button.btn.teal.darken-1 {
        margin-top: 10px;
    }

    h3.teal.white-text.center-align, .flashes h4, h3 {
        line-height: 1.5;
        margin-top: 16px;
    } 

    #edit_term {
        margin-top: 0px;
    }
}
/*-----
// Small devices (Mobile, 411px)
-----*/
@media screen and (width: 411px) {
    button.btn.teal.darken-1 {
        margin-top: 10px;
    }

    h3.teal.white-text.center-align, .flashes h4, h3 {
        line-height: 1.5;
        margin-top: 16px;
    }

    #edit_term {
        margin-top: 0px;
    }
}
/*-----
// Small devices (Mobile, 375px)
-----*/
@media screen and (width: 375px) {
    button.btn.teal.darken-1 {
        margin-top: 10px;
    }

    div.collapsible-body.white-text {
        padding-bottom: 0px;
    }

    h3.teal.white-text.center-align, .flashes h4, h3 {
        line-height: 1.5;
        margin-top: 16px;
    }

    #edit_term {
        margin-top: 0px;
    }
}
/*-----
// Small devices (Mobile, 360px)
-----*/
@media screen and (width: 360px) {
    button.btn.teal.darken-1 {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    h3.teal.white-text.center-align, .flashes h4, h3 {
        line-height: 1.5;
        margin-top: 16px;
    }

    #edit_term {
        margin-top: 0px;
    }
}
/*-----
// Small devices (Mobile, 320px)
-----*/
@media screen and (width: 320px) {
    button.btn.teal.darken-1 {
        margin-top: 10px;
        padding-right: 5px;
        padding-left: 5px;
    }

    i.fas.fa-search.left {
    margin-right: 10px;
    }

    h3.teal.white-text.center-align, .flashes h4, h3 {
        line-height: 1.5;
        margin-top: 16px;
    }
/*-----
// Small devices (Mobile, 280px)
-----*/                    
@media screen and (width: 280px) {
    button.btn.teal.darken-1 {
        margin-top: 5px;
        padding-right: 4px;
        padding-left: 4px;
    }
 
    i.fas.fa-search.left {
    margin-right: 0px;
    padding-right: 0px;
    }

    div.input-field.col.s12.m8.white {
    padding-left: 0px;
    padding-right: 0px;
    }

    input#query.validate.invalid {
    margin-left: 0px;
    }

    h3.teal.white-text.center-align, .flashes h4, h3 {
        line-height: 1.5;
        margin-top: 16px;
    }

    #edit_term {
        margin-top: 10px;
    }

    #edit_profile, #delete_profile {
        padding-left: 0px;
    }
}
}
