{% extends "base.html" %}
{% block content %}

<div class="row card-panel grey lighten-2"></div>
    <div class="col s12 center-align">
        <h2 class="center-align">Oops,.....<br>ERROR 404</h2>
    </div>
</div>  

<h3 class="center-align">You either have no permission or page not found</h3>


<div class="row card-panel grey lighten-2">
    <div class="col s12 center-align">
        <a href="{{ url_for('terms') }}" class="btn deep-orange accent-2">Return to Homepage</a>
    </div>
</div>


{% endblock %}