<!--base template-->
<!DOCTYPE html>
<html lang="en">
<!--head with meta data, font-awesome, materialize css, custom css and favicon links-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Glossary growing fields in IT">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='css/images/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='css/images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='css/images/favicon-16x16.png') }}">
  <title>Glossary Grow Fields</title>
  {% block styles %}
  {% endblock %}

</head>

<body>

  <header>
  <!--navbar, where the first and last two links are visable for all, but other three only for logged in users -->
    <nav>
      <div class="nav-wrapper deep-orange darken-4">
        <a href="{{ url_for('terms') }}" class="brand-logo right">Glossary Grow Fields</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-minus-circle"></i></a>
        <ul class="hide-on-med-and-down">
          <li><a href="{{ url_for('terms') }}">Home</a></li>
          <li><a href="{{ url_for('search_by_field', to_search='CS') }}">Cyber Security</a></li>
          <li><a href="{{ url_for('search_by_field', to_search='DA') }}">Data Analytics</a></li>
          <li><a href="{{ url_for('search_by_field', to_search='WD') }}">Web Development</a></li>
          {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_term') }}">Add Term</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
<!--sidenavbar; see navbar-->
    <ul class="sidenav deep-orange darken-4 teal-text" id="mobile-demo">
      <li>
        <h4 class="center-align">Glossary Grow Fields</h4>
      </li>
      <li><a href="{{ url_for('terms') }}">Home</a></li>
      <li><a href="{{ url_for('search_by_field', to_search='CS') }}">Cyber Security</a></li>
      <li><a href="{{ url_for('search_by_field', to_search='DA') }}">Data Analytics</a></li>
      <li><a href="{{ url_for('search_by_field', to_search='WD') }}">Web Development</a></li>
      {% if session.user %}
        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
        <li><a href="{{ url_for('add_term') }}">Add Term</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    </ul>
  </header>
<!--with flash messages, if there are messages, for each message, styling-->
  <section>
    <!--Flash messages-->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="row flashes">
            <h4 class="teal white-text center-align">{{ message }}</h4>
          </div> 
          {% endfor %}
        {% endif %}
      {% endwith %}
  </section>
<!--The content block resides in a container class-->
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
<!--scripts-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>