{% extends "base.html" %}
{% block content %}
<!--template to login page-->
<h3 class="center-align">Login</h3>
<!--form to login with username, password and button-->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!--username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-check prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" 
                        maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!--password-->
            <div class="row">
                <div class="input-field col s12">
                  <i class="fas fa-lock prefix"></i>
                  <input id="password" name="password" type="password" minlength="5" 
                    maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                  <label for="password">Password</label>
                </div>
            </div>
            <!-- login button-->
            <div class="row">
                <button type="submit" class="col s12 waves-effect teal darken-1 btn-large offset-m2">
                    Login <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!--Redirection with link if user should register first-->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            First Time Visitor? 
            <a href="{{ url_for('register') }}" class="account teal white-text">Register Account</a>
        </p>
    </div>
</div>

{% endblock %}