{% extends "base.html" %}
{% block content %}

<h3 class="center-align teal white-text">{{username}}'s Profile</h3>

     <ul class="collapsible">
         {% for term in terms %}
         {% if session.user|lower == term.created_by|lower %}
         <li>
             <div class="collapsible-header teal white-text">
                 <i class="fas fa-caret-down"></i>
                 <strong>{{ term.term_name }}</strong>
             </div>
             <div class="collapsible-body">
                 <strong>{{ term.field_name }}</strong>
                 <p class="red-text">
                     <strong>{{ term.term_name }}:</strong>
                 </p>
                 <p>{{ term.term_definition }}</p>
                 <p><em>by: {{ term.created_by }}</em></p>
                 <div class="row">
                     <div class="col s6">
                         <a href="{{ url_for('edit_term', term_id=term._id) }}"
                             class="btn-small left deep-orange accent-1">Edit</a>
                     </div>
                     <div class="col s6">
                         <a href="{{ url_for('delete_term', term_id=term._id) }}"
                             class="btn-small left deep-orange darken-4">Delete</a>
                     </div>
                 </div>
             </div>
         </li>
         {% else %}
         <h3>No Terms</h3>
         {% endif %}
         {% endfor %}
     </ul>
       


{% endblock %}