{% extends "base.html" %}
{% block content %}
<!--template of the register page-->
<h3 class="center-align">Register</h3>
<!--form with username field, password field and button-->
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!--username-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="20"
                        pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!--password-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="20"
                        pattern="^[a-zA-Z0-9]{5,20}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!--register button-->
            <div id="register" class="row">
                <button type="submit" class="col s12 waves-effect teal darken-1 btn-large">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!--Redirection with link if user is already registered and should login instead-->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already Registered?
            <a href="{{ url_for('login') }}" class="account teal white-text">Login</a>
        </p>
    </div>
</div>

{% endblock %}