{% extends "base.html" %}
{% block content %}

    <h3 class="teal white-text center-align">All Terms</h3>

    <div class="row card-panel grey lighten-2">
        <form action="{{ url_for('search') }}" method="GET" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Terms</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('terms') }}" class="btn deep-orange accent-2">Reset</a>
                    <button type="submit" class="btn">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form> 
    </div>
    {% if terms|length > 0 %}
    <ul class="collapsible">
        {% for term in terms %}
        <li>
            <div class="collapsible-header teal white-text">  
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ term.term_name }}</strong>
            </div>
            <div class="collapsible-body">
                <strong>{{ term.field_name }}</strong>
                <p class="red-text">
                    <strong>{{ term.term_name }}:</strong>
                </p>
                <p>{{ term.term_definition }}</p>
                <p><em>by: {{ term.created_by }}</em></p>
            <div class="row">
                {% if session.user|lower == term.created_by|lower %}
                <div class="col s6">
                    <a href="{{ url_for('edit_term', term_id=term._id) }}" 
                    class="btn-small left deep-orange accent-1"
                    onclick="return confirm('Are you sure you want to edit?');">Edit</a>
                </div>
                <div class="col s6">
                    <a href="{{ url_for('delete_term', term_id=term._id) }}" 
                    class="btn-small left deep-orange darken-4"
                    onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                </div>
                {% endif %}
            </div>
            </div>  
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text center-align">No Results Found</h3>
    {% endif %}

{% endblock %}
